version: '3.1'

services:
  wordpress:
    image: wordpress:latest
    environment:
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
    labels:
      - traefik.http.routers.wordpress.rule=Host(`nicolas-castellano.com`)
      - traefik.http.routers.wordpress.entrypoints=websecure
      - traefik.http.routers.wordpress.tls.certresolver=myresolver
    networks:
      - web
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - web

  adminer:
    image: adminer
    labels:
      - traefik.http.routers.adminer.rule=Host(`adminer.nicolas-castellano.com`)
      - traefik.http.routers.adminer.entrypoints=websecure
      - traefik.http.routers.adminer.tls.certresolver=myresolver
    networks:
      - web

networks:
  web:
    external: true

volumes:
  wordpress_data:
  mysql_data:

# version: '3'
# services:
#   wordpress:
#     image: wordpress:latest
#     ports:
#       - "8083:80"
#     environment:
#       WORDPRESS_DB_NAME: wordpress
#       WORDPRESS_DB_HOST: mysql
#       WORDPRESS_DB_USER: root
#       WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}
#     networks:
#       - custom_network
#     volumes:
#       - wordpress_data:/var/www/html
#     depends_on:
#       - mysql

#   mysql:
#     image: mysql:5.7
#     environment:
#       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#     networks:
#       - custom_network
#     volumes:
#       - mysql_data:/var/lib/mysql

#   nginx:
#     image: nginx:latest
#     volumes:
#       - ./nginx.conf:/etc/nginx/nginx.conf
#     ports:
#     #   - "80:80"
#     #   - "81:81"
#     #   - "443:443"
#       - "8081:80"  # Map host port 8081 to container port 80
#       - "8444:443"  # Map host port 8444 to container port 443
#     networks:
#       - custom_network

#   adminer:
#     image: adminer
#     ports:
#       - "8082:8080"
#     networks:
#       - custom_network

# networks:
#   custom_network:
#     driver: bridge
# volumes:
#   wordpress_data:
#   mysql_data: